.box {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 1fr 10%;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer"
}

.sidebar {
  grid-area: sidebar;
  background-color: white;
}

.header {
  grid-area: header;
  
  text-align: center;
}

.content {
  grid-area: content;
  background-color: white;
}

.footer {
  grid-area: footer;
  background-color: red;
}
