html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
}

.box {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 35px;
    grid-template-areas:
        "header  header"
        "sidebar content"
        "footer1 footer1"
}

.sidebar {
  grid-area: sidebar;
  background-color:rgb(44, 44, 46);
  color: white;
  border-right: 1px solid black;
}

ul {
  padding-inline-start: 0px;
}

li{
  list-style: none;
}

/* Header */
.header {
  grid-area: header;
  background-color: rgb(58, 58, 60);
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;


}

.header .headertitle{
  float: left;
  color:  rgb(248, 163, 145);
  font-size: 200%;
  margin: 5px 0px 5px 20px;
  padding: 0 0 0 0;
  font-family: 'Bowlby One SC', cursive;
}

.header .headericonsright {
  float: right;
  margin: 15px 20px 5px 0px;
  padding: 0 0 0 0;
  font-size: 150%;
  
}
/* Content */
.content {
  grid-area: content;
  background-color: rgb(28, 28, 30);
  color: white;
}

.footer1 {
  grid-area: footer1;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer1 .sidebarnewlist {
  background: rgb(44, 44, 46);
  text-align: center;
  width: 190px;
  margin-bottom: 10px;
}




.footer2 {
  grid-area: footer2;
  background-color: rgb(28, 28, 30);
  color: white;
  text-align: center;

}

.search {
  background-color: grey;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  color: white;
}

.search a{
  margin: 0 0 0 10px;
  padding: 5px 5px 5px 5px;
}

#sidebarinhalt {
  margin: 15px 10px 10px 10px;
}

.sidebar .listen {
  font-size: 80%;
  padding: 0 5px 20px 5px;
}

.sidebar .listen .items {
  padding: 0px 0 0px 5px;
  background-image: linear-gradient(transparent,transparent),url(/w/skins/Vector/images/user-avatar.svg?b7f58);
  background-repeat: no-repeat;

}

.listItems{
  margin-right: 5px;
}
.sidebar h2 {
  font-size: 80%;
  color: rgba(160, 143, 143, 0.877);
  margin: 10px 0 10px 0px;
  
}

.content h1{
  margin: 12px 0 0px 25px;
  font-family: 'Anton', sans-serif;
  display: inline-block;
  
}

.content .contenttitel #zurückTaste {
  float: left;
  font-size: 275%;
  margin: 0 0 0 0;
}

.content .listeneinträge {
  margin-top: 20px;
  background-image: linear-gradient( to right, #D95A41, rgb(248, 163, 145)); 
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  margin:20px 55px 20px 55px;
}

#myText {
  background: transparent;
  border: none;
  font-size: 100%;
}

.content .contentinhalt{
  margin: 0 55px 40px 55px;
}

.plus-button {
  border: 1px solid transparent;
  background-color: #FFDC7C;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
  position: relative;
  
}

.listItems {
  cursor: pointer;
}



.contentnewitem {
  margin-bottom: 10px;
}

.footer1 a{
  margin-bottom:2px;
}

.plus-button--small {
	font-size: 9px;
}

.actionButtons {
  border: none;
  background: transparent;
  cursor: pointer;
  float: right;
  color: white;
  font-size: 100%;
}

.farbigerButton {
  border: none;
  background: transparent;
  color: #D95A41;
  font-weight: bold;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
} 

/* .content .contentinhalt .listeneinträge .deleteButton {
  background: transparent;
  border: 2px solid red;
  border-radius: 2em;
  color: red;
  display: inline-block;
  font-size: 12px;
  height: 20px;
  line-height: 2px;
  margin: 0 0 8px;
  padding: 0;
  text-align: center;
  width: 20px;
  float: right;
  font-weight: bold;
} */

.content .contentinhalt #inputNeuesItem {
  margin-top: 20px;
  /* background-image: linear-gradient( to right, #D95A41, rgb(248, 163, 145));  */
  background-color: rgb(248, 163, 145); 
  border-radius: 30px;
  border: none;
  width: 500px;
  padding: 10px 10px 10px 10px;
  color: white;
 
  font-size: 100%;
}

/* FONTAWESOME BUTTON */
.listeneinträge .fas {
  float: right;
  padding: 1px 25px 1px 1px;
}

.fas{
  cursor: pointer;
}

.footer1 {
  
  color: #D95A41;
}

.footer2 {
  
  color: rgb(248, 163, 145);
}

/* Dialogfeld */
.footer1 #dialogNeueEinkaufsListe {
  background: rgb(44, 44, 46);
  border: 0.5px solid white;
  color: white;

  
}

.footer1 #dialogNeueEinkaufsListe .dialogheader {
  
  

}

.footer1 #dialogNeueEinkaufsListe .dialogheader h2{
  

}

.footer1 #dialogNeueEinkaufsListe .dialogcontent button {
  margin-top: 25px;
  margin-bottom: 20px;
}

.footer1 #dialogNeueEinkaufsListe .dialogcontent #neueListenID {
  margin-top: 20px;
  background-image: linear-gradient( to right, #D95A41, rgb(248, 163, 145)); 
  border-radius: 30px;
  border: none;
  width: 250px;
  padding: 10px 10px 10px 10px;
}



/* Für Smartphones */
[class*="box"] {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .html {width: 100%;}
  
}