html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
}

.box {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: 60px 1fr 30px;
    grid-template-areas:
        "header  header"
        "sidebar content"
        "footer footer"
}

ul {
  padding-inline-start: 0px;
}

li{
  list-style: none;
}

/* Header */
.header {
  grid-area: header;
  background-color: rgb(58, 58, 60);
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.header .headertitle{
  float: left;
  color:  rgb(248, 163, 145);
  font-size: 200%;
  margin: 5px 0px 5px 20px;
  padding: 0 0 0 0;
  font-family: 'Bowlby One SC', cursive;
}

.header .headericonsright {
  float: right;
  margin: 15px 20px 5px 0px;
  padding: 0 0 0 0;
  font-size: 150%;
}


.header .headericonsright a{
  text-decoration: none;
  color: black;
}

/* Content */
.content {
  grid-area: content;
  background-color: rgb(28, 28, 30);
  color: white;
  transition: margin-left .5s;
  margin-left: 0;
  height: 100%;
  overflow-x: hidden;
}

.content h1{
  margin: 12px 0 0px 7px;
  font-family: 'Anton', sans-serif;
  display: inline-block;
}

.content .contenttitel #zurückTaste {
  float: left;
  font-size: 275%;
  margin: 0 0 0 0;
}

.content .listeneinträge {
  margin-top: 20px;
  background-image: linear-gradient( to right, #D95A41, rgb(248, 163, 145)); 
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  margin:20px 55px 20px 55px;
}

.ungeordneteListe{
  margin-bottom: 60px;
}

.content .contentinhalt{
  margin: 0 55px 40px 55px;
}


.listItems {
  cursor: pointer;
}

.contentnewitem {
  margin-bottom: 10px;
}

.content .contentinhalt #inputNeuesItem {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(248, 163, 145); 
  border-radius: 30px;
  border: none;
  
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 100%;
}

/* Footer */
.footer {
  grid-area: footer;
  background-color: rgb(28, 28, 30);
}


/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background-color:rgb(44, 44, 46);
  color: white;
  border-right: 1px solid black;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
}

.sidebar a:hover {
  color: rgb(248, 163, 145);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
  margin-right: -20px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.sideBarListe {
  margin: 10px 0 10px 0;
}


.sidebar .sidebarfooter .sidebarnewlist {
  background: rgb(44, 44, 46);
  text-align: center;
}


#sidebarinhalt {
  margin: 15px 10px 10px 10px;
}

.sidebar .listen {
  font-size: 80%;
  padding: 0 5px 20px 5px;
}

.sidebar .listen .items {
  padding: 0px 0 0px 5px;
  background-image: linear-gradient(transparent,transparent),url(/w/skins/Vector/images/user-avatar.svg?b7f58);
  background-repeat: no-repeat;
}

.listItems{
  margin-right: 5px;
}

.sidebar h2 {
  font-size: 80%;
  color: rgba(160, 143, 143, 0.877);
  margin: 10px 0 10px 0px; 
}

.sidebarfooter a{
  margin-bottom:2px;
}

/* Sidebar Dialogfeld */
.sidebar .sidebarfooter #dialogNeueEinkaufsListe {
  background: rgb(44, 44, 46);
  border: 0.5px solid black;
  color: white;
}

.sidebar .sidebarfooter #dialogNeueEinkaufsListe .dialogheader h2{
  color: white;
  font-size: 100%;
}

.sidebar .sidebarfooter #dialogNeueEinkaufsListe .dialogcontent button {
  margin-top: 25px;
  margin-bottom: 20px;
}

.sidebar .sidebarfooter #dialogNeueEinkaufsListe .dialogcontent #neueListenID {
  margin-top: 20px;
  background-color: rgb(248, 163, 145); 
  border-radius: 30px;
  border: none;
  width: 250px;
  padding: 10px 10px 10px 10px;
}


.actionButtons {
  border: none;
  background: transparent;
  cursor: pointer;
  float: right;
  color: white;
  font-size: 100%;
}

.farbigerButton {
  border: none;
  background: transparent;
  color: #D95A41;
  font-weight: bold;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
} 


/* FONTAWESOME BUTTON */
.listeneinträge .fas {
  float: right;
  padding: 1px 25px 1px 1px;
}

.fas{
  cursor: pointer;
}

/* Responsiveness */
/* Für Smartphones */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px){
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    /* .col-6 {width: 50%;} */
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width: 600px) {
  .sidebar {
    font-size: 120%;
    width : 100%;  
  }
  .content {
    font-size: 80%;
  }

  .header .headericonsright {
    display: none;
  }

  .content .contentinhalt {
    margin: 10px 15px 10px 15px;
  }

  .content .listeneinträge {
    padding: 20px 0px 15px 6px;
  }

  .content .listeneinträge {
    margin: 10px 15px 10px 15px;
  }

  .content .listeneinträge .fas {
    padding: 0 3px 0 0;
  }

  .sidebar { 
    width: 100%;
  }
  
  
}

